/* card checkbox started */
.checkbox-card {
    position: relative;
    /* aspect-ratio: 3/1.305; */
    width: 100%;
    max-width: 350px;
    height: 155px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 15%);
    border-radius: 10px;
    background: #ffffff;
    overflow: hidden;
}

.custom-checkbox-card {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    cursor: pointer;
}

.checkbox-card-content {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 0.85rem;
    transition: all 0.3s linear;
}

.custom-checkbox-card:checked~.checkbox-card-content {
    background-color: #556ee6;
    transition: all 0.3s linear;
}

.custom-checkbox-card:checked~.checkbox-card-content p {
    color: white;
}

.custom-checkbox-card~.checkbox-card-content .checked {
    display: none;
}

.custom-checkbox-card~.checkbox-card-content .unchecked {
    display: block;
    width: 55px;
    height: 55px;
}

.custom-checkbox-card:checked~.checkbox-card-content .checked {
    display: block;
    width: 55px;
    height: 55px;
}

.custom-checkbox-card:checked~.checkbox-card-content .unchecked {
    display: none;
}

.check-square-box {
    border: 2px solid #81818166;
    background-color: transparent;
    position: absolute;
    top: 7%;
    right: 4%;
    width: 14px;
    height: 14px;
    border-radius: 4px;
}

.custom-checkbox-card:checked~.check-square-box {
    background-color: #ffffff;
    border: none;
}

.custom-checkbox-card:checked~.check-square-box::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 11px;
    border: solid #556ee6;
    border-width: 0 3px 3px 0;
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    border-radius: 3px;
    /* margin: 0px 15px 3px 4px; */
    margin: -18px 17px 6px 4px;
}

/* card checkbox ended */

/* toggle checkbox start */
.input-wrapper {
    border: 1px solid #dadada;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
}

.toggle-checkbox {
    height: 0;
    width: 0;
    display: none;
}

.toggle-label {
    cursor: pointer;
    width: 32px;
    height: 12px;
    background-color: rgba(218, 68, 83, 0.2);
    display: block;
    border-radius: 100px;
    position: relative;
}

.toggle-label:after {
    content: "";
    position: absolute;
    top: -2px;
    left: 0px;
    width: 16px;
    height: 16px;
    background-color: #da4453;
    background-image: url(../images/cross-white.svg);
    background-position: center;
    background-size: 9px;
    background-repeat: no-repeat;
    border-radius: 50px;
    transition: 0.3s;
}

.toggle-checkbox:checked+.toggle-label {
    background-color: rgba(85, 110, 230, 0.2);
    transition: all 0.3s linear;
}

.toggle-checkbox:checked+.toggle-label:after {
    /* left: calc(100% - 5px); */
    left: 100%;
    transform: translateX(-100%);
}

.toggle-checkbox:checked+.toggle-label:after {
    content: "";
    position: absolute;
    top: -2px;
    left: 100%;
    width: 16px;
    height: 16px;
    background-color: #556ee6;
    background-image: url(../images/tick-white.svg);
    background-position: center;
    background-size: 10px;
    background-repeat: no-repeat;
    border-radius: 50px;
    transition: 0.3s;
}

/* toggle checkbox ended */